<div class="flex space-x-4 bg-white border-gray-200 w-full p-4">
  @for (tab of tabs(); track tab.id) {
  <button
    type="button"
    id="{{ tab.id }}"
    (click)="selectTab(tab.id)"
    [class]="
      tab.id === activeTab()
        ? 'px-4 py-2 rounded-lg text-white font-medium transition-colors bg-[#6D7BFA]'
        : 'px-4 py-2 rounded-lg text-[#7E7A88] hover:bg-gray-100 transition-colors bg-transparent border hover:cursor-auto border-gray-200'
    "
  >
    {{ tab.label }}
  </button>
  }
</div>
