<div class="flex w-full p-4 space-x-4 bg-white border-gray-200">
  @for (tab of tabs(); track tab.id) {
  <button
    type="button"
    id="{{ tab.id }}"
    (click)="selectTab(tab.id)"
    class=""
    [class]="
      tab.id === activeTab()
        ? 'px-4 py-2 rounded-lg text-white font-bold text-[16px] transition-colors bg-[#6D7BFA] font-[Mulish]  border border-[#6D7BFA]'
        : 'px-4 py-2 rounded-lg text-[#7E7A88]  bg-gray-100 hover:bg-gray-100 transition-colors font-medium text-[16px] font-[Mulish]  border  border-[#F2F2F2]'
    "
  >
    {{ tab.label }}
  </button>
  }
</div>
