.btn {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.primary {
  background-color: #6D7BFA;
  color: white;
}

.secondary {
  background-color: #E9ECFF;
  color: #6D7BFA;
  font-weight: bold;
}

.danger {
  background-color: #dc3545;
  color: white;
}
