<div 
  (click)="onSelect()" 
  [class]="'flex justify-between items-center cursor-pointer p-4 my-2 rounded-lg ' + (isSelected() ? 'bg-[#E9ECFF] text-[#6D7BFA] font-bold ' : 'hover:bg-gray-50 text-[16px] font-semibold text-[#7E7A88]')"
>
  <span class="text-lg font-medium">{{ item().name }}</span>
  <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-current" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
    <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
  </svg>
</div>