<!-- Backdrop -->
<div
  class="fixed inset-0 z-50 flex items-center justify-center bg-black/30"
  (click)="onBackdropClick()"
  role="dialog"
  aria-modal="true"
>
  <!-- Dialog -->
  <div class="mx-4 w-full max-w-lg rounded-2xl bg-white shadow-xl" (click)="stop($event)">
    <!-- Accent bar -->
    <div class="h-2 w-full  rounded-t-2xl" [class]="accentClasses.topBar"></div>

    <div class="px-8 pb-8 pt-6 text-center">
      <!-- Icon -->
      <div
        [class]="accentClasses.iconRing"
        class="mx-auto mb-5 flex h-14 w-14 items-center justify-center rounded-full border-8"
      >
        <!-- success -->
        <svg
          viewBox="0 0 24 24"
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
          ></path>
        </svg>

        <!-- danger -->
         
      </div>

      <!-- Message -->
      <h2 class="mb-7 text-xl md:text-2xl font-semibold text-primary-black">
        {{ text() }}
      </h2>

      <!-- Buttons (fixed) -->
      <div class="flex items-center justify-center gap-4">
        <button
          [class]="accentClasses.confirmBtn"
          type="button"
          class="min-w-[120px] rounded-lg border border-gray-300 bg-white px-6 py-3 text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300"
          (click)="onCancel()"
        >
          {{ cancelText() }}
        </button>

        <button
          type="button"
          [class]="accentClasses.confirmBtn"
          class="min-w-[120px] rounded-lg px-6 py-3 text-base font-semibold focus:outline-none focus:ring-2 focus:ring-offset-2"
          (click)="onConfirm()"
          autofocus
        >
          {{ confirmText() }}
        </button>
      </div>
    </div>
  </div>
</div>
