<div class=" p-4">
  <div class="space-y-3 text-sm p-6 bg-white">
    <div class="flex items-start">
      <span class="w-40 text-gray-500">Organization Name :</span>
      <span class="font-semibold text-gray-800">{{supportResponse()?.organizationID}}</span>
    </div>

    <div class="flex items-start">
      <span class="w-40 text-gray-500">Username :</span>
      <span class="font-semibold text-gray-800">{{supportResponse()?.supportUserEmailID}}</span>
    </div>

    <div class="flex items-start">
      <span class="w-40 text-gray-500">Password :</span>
      <span class="font-semibold text-gray-800">{{supportResponse()?.supportUserPassword}}</span>
    </div>
  </div>
</div>
