<div class="w-full flex items-center justify-between">
    <div class="flex items-center gap-2">
      <button class="flex items-center text-gray-600 hover:text-gray-700">
        <mat-icon class="mr-1 text-lg">arrow_back</mat-icon>
    
      </button>
       <h1 class="text-2xl font-semibold">Metadata</h1>
    </div>
   
    <app-button [text]="'Add New Metadata'" >

    </app-button>
</div>

<app-tabs
  [tabs]="tabs()"
  [defaultActiveTab]="currentActiveTab()"
  (tabChanged)="currentActiveTab.set($event.id)"
  [activeTabInput]="currentActiveTab()"
>
</app-tabs>


<div class="mat-elevation-z1 bg-white rounded-lg overflow-hidden">
  <mat-table [dataSource]="fieldsData" class="w-full">

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="flex space-x-2 text-gray-500">
          <mat-icon class="cursor-pointer text-base hover:text-blue-600">edit</mat-icon>
          <mat-icon class="cursor-pointer text-base hover:text-red-600">delete</mat-icon>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-slide-toggle [checked]="element.status" disabled></mat-slide-toggle>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="handle">
      <mat-header-cell *matHeaderCellDef class="w-2"></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon class="text-gray-400 cursor-move">drag_indicator</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fieldName">
      <mat-header-cell *matHeaderCellDef> Field Name </mat-header-cell>
      <mat-cell *matCellDef="let element" class="font-medium text-gray-800"> {{ element.fieldName }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.type }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="prompt">
      <mat-header-cell *matHeaderCellDef> Prompt </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.prompt }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <div class="p-4 border-t border-gray-200">
    <button class="flex items-center text-blue-600 font-semibold hover:text-blue-700">
      <mat-icon class="mr-1 text-lg">add</mat-icon>
      New Field
    </button>
  </div>
</div>