<div class="w-full  mx-auto mt-8 bg-white ">
    @for ( item of items; track $index) {
    <div class="border-b last:border-b-0">
        <div class="flex items-center justify-between p-4 cursor-pointer hover:bg-gray-50">
            <div class="flex items-center space-x-2">
                <!-- Expand/Collapse icon for parent items with children -->



                <button> <lucide-angular [img]="dragIcon"></lucide-angular></button>
                <span class="font-medium">{{ item.name }}</span>
                @if(item.children) {

                    <button (click)="item.expanded = !item.expanded" class="text-gray-400 hover:text-gray-600">
                       <mat-icon>{{item.expanded ? 'expand_less' : 'expand_more'}}</mat-icon>
                    </button>
                
                
                }

            </div>

            <div class="flex items-center space-x-3">
                <button *ngIf="item.editable" class="text-gray-400 hover:text-gray-600">
                    <lucide-angular [img]="editIcon"></lucide-angular>
                </button>
                <label class="switch">
                    <input type="checkbox" [checked]="item.enabled" />
                    />
                    <span class="slider"></span>
                </label>
            </div>
        </div>

        <!-- Children -->
        <div *ngIf="item.children && item.expanded">
            @for ( child of item.children; track $index) {
            <div class="pl-8 bg-gray-50 border-b last:border-b-0">
                <div class="flex items-center justify-between p-3 hover:bg-gray-100">
                    <span>{{ child.name }}</span>
                    <div class="flex items-center space-x-3">
                        <button *ngIf="child.editable" class="text-gray-400 hover:text-gray-600">
                            <lucide-angular [img]="editIcon"></lucide-angular>
                        </button>
                        <label class="switch">
                            <input type="checkbox" [checked]="child.enabled" />
                            <span class="slider"></span>
                        </label>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
    }
</div>