<!-- add-oraganization-model.html -->
<div class="fixed inset-0 z-50 flex items-center justify-center" role="dialog" aria-modal="true">
    <!-- overlay -->
  <div class="fixed inset-0 bg-black/50 z-[10]" (click)="closeModal()"></div>

  <div class="bg-white relative rounded-lg shadow-lg w-full max-w-[90%] z-50">
    <!-- header -->
    <div class="flex items-center justify-between px-4 py-6 shadow">
      <h2 class="text-xl font-bold text-[#182330]">Add Company Details</h2>
      <div class="mx-auto"><app-stepper [currentStep]="currentStep()"></app-stepper></div>
      <button type="button" (click)="closeModal()" class="text-gray-500 hover:text-gray-700" aria-label="Close">
        <lucide-angular [img]="closeIcon" class="w-6 h-6 cursor-pointer text-[#5363F9]"></lucide-angular>
      </button>
    </div>

    <!-- body -->
    <div class="p-4">
      <div class="rounded-xl  bg-[#F0F2F5]">
        @if (currentStep() === 0) {
          <app-add-company-information [formGroup]="organizationForm"></app-add-company-information>
        } @if (currentStep() === 1) {
          <app-add-package-information [formGroup]="packageForm"></app-add-package-information>
        } @if (currentStep() === 2) {
          <app-support-credentials></app-support-credentials>
        }
      </div>
    </div>

    <!-- footer -->
    <div class="flex items-center justify-center p-4 space-x-4">
      @if (!isFirstStep()) {
        <button
          type="button"
          (click)="prevStep()"
          class="flex items-center justify-center gap-2 min-w-[120px] px-4 py-2 border border-[#CAC6D3] font-bold text-[#7E7A88] bg-transparent rounded">
          Previous
        </button>
      } @else {
        <!-- minimal: Cancel now actually closes -->
        <button
          type="button"
          (click)="closeModal()"
          class="flex items-center justify-center min-w-[120px] gap-2 px-4 py-2 border border-[#7E7A88] text-[16px] font-bold text-[#7E7A88] bg-transparent rounded-lg">
          Cancel
        </button>
      }

      @if (!isLastStep()) {
        <!-- minimal: disable Next if current step is invalid -->
        <button
          type="button"
          (click)="nextStep()"
          class="flex items-center justify-center min-w-[120px] text-[16px] gap-2 px-4 text-center py-2 font-bold text-white bg-[#6D7BFA] rounded-lg">
          Next
        </button>
      } @else {
        <button
          (click)="save()"
          type="button"
          class="flex items-center justify-center gap-2 min-w-[120px] px-4 py-2 text-white bg-[#6D7BFA] rounded">
          Save
        </button>
      }
    </div>
  </div>
</div>
