@if (isOpen()) {
<div class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
  <div [class]="modelContainerClass()"
   class="bg-white rounded-xl overflow-hidden  w-full max-w-[80%]">
    <!-- header -->
    <div class="flex bg-white  items-center justify-between py-6 z-20  px-4 shadow-subtle ">
      <h2 class="text-xl font-bold">{{ title() }}</h2>
      <button (click)="closeModal()" class="text-secondary-blue hover:text-gray-700">
       <lucide-angular [img]="icons.cross" class="w-6 h-6 cursor-pointer text-[#5363F9]"></lucide-angular>
      </button>
    </div>

    <!-- body slot -->
    <div [class]="modalBodyClass()"
    class="p-4 z-10 bg-surface-raised overflow-y-auto max-h-[80vh]">
      <ng-content></ng-content>
    </div>


    @if(isButtonsShowing()){
    <div [class]="footerClases()" class="flex items-center gap-4 justify-center p-4">
      
       <ng-content select="[modal-footer]"></ng-content>
      
       <div class="flex items-center gap-4">
<button
        type="button"
        (click)="closeModal()"
        [class]="cancelButtonClass()"
       
      >
      {{cancelButtonText()}}
      </button>
      <button
        (click)="onSave()"
        type="button"
        [class]='saveButtonClass()'
      >
       {{saveButtonText()}}
      </button>
       </div>
      
    </div>
    }
  </div>
</div>
}
