<header
  class="h-16 flex items-center justify-between bg-white border-b border-[#EDEDED] px-8 top-0 z-50"
>
<!-- Logo/Brand -->
<div class="font-['Mulish'] text-[20px] font-bold leading-[150%] tracking-[0px] align-middle text-[#1D1D21]">
  AAAMT Vertical Solutions
</div>

  <!-- Right Section -->
  <div class="flex items-center gap-14">
    <div class="w-[475px] relative">
     <lucide-angular [img]="icons.search" class="absolute -translate-y-1/2 text-[#787A7F] edit-icon left-1 top-1/2"></lucide-angular>
      <input
        type="text"
        placeholder="Search here"
        class="w-full pl-10 pr-4 font-normal py-2 rounded-lg placeholder:text-[#787A7F] border border-[#d9d9d9] focus:outline-none text-sm"
      />
    </div>
    <div class="flex items-center gap-2">
      <!-- Notification -->
      <button
        class="relative p-2 text-gray-600 transition-colors rounded-full "
      >
        
        <lucide-angular [img]="icons.bellDot" class="w-6 h-6 text-[#606060]"></lucide-angular>
        <span
          class="absolute top-[12px] right-[10px] bg-[#FF3333] text-white text-xs rounded-full w-[8px] h-[8px] flex items-center justify-center"
        >
        </span>
      </button>

      <div class="relative">
        <button (click)="toggleProfileMenu()" class="flex items-center gap-2">
          <img
            src="/assets/images/common/header-profile.png"
            alt="Profile"
            class="border border-gray-300 rounded-full w-9 h-9"
          />
        </button>

        @if (showProfileMenu()) {
        <div
          class="absolute right-0 z-50 py-2 mt-4 transition-transform origin-top-right transform scale-100 bg-white border border-gray-200 rounded-lg shadow-lg w-62"
        >
          <!-- User Info Section -->
          <div class="flex items-center p-4">
            <img
              src="/assets/images/common/profile-avatar.png"
              alt="User Profile"
              class="w-12 h-12 mr-3 rounded-full"
            />
            <div>
              <div class="text-sm font-semibold">User Name</div>
              <div class="text-xs text-gray-500">user@example.com</div>
            </div>
          </div>

          <!-- Menu Items -->
          <div class="py-1">
            <a routerLink="/view-profile"
              class="flex items-center px-4 py-2 text-sm text-gray-700 cursor-pointer hover:bg-gray-100"
            >
              <lucide-angular [img]="icons.user" class="w-5 h-5 mr-3 text-gray-500"></lucide-angular>
              <span>View Profile</span>
            </a>
            <a
              class="flex items-center px-4 py-2 text-sm text-gray-700 cursor-pointer hover:bg-gray-100"
            >
              <lucide-angular [img]="icons.lock" class="w-5 h-5 mr-3 text-gray-500"></lucide-angular>
              <span>Change Password</span>
            </a>
            <a
              class="flex items-center px-4 py-2 text-sm text-gray-700 cursor-pointer hover:bg-gray-100"
            >
             <lucide-angular [img]="icons.logout" class="w-5 h-5 mr-3 text-gray-500"></lucide-angular>
              <span>Logout</span>
            </a>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</header>
