/* Custom table styles */
.module-table {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #eaeaea;
}

.module-table .mat-mdc-table {
  background: transparent;
}

.module-table .mat-mdc-header-row {
  background-color: #f1f3f6;
  border-bottom: 1px solid #e9ecef;
}

.module-table .mat-mdc-header-cell {
  color: #7e7a88;
  font-weight: 700;
  font-size: 14px;
  border-bottom: none;
}

.module-table .mat-mdc-row {
  border-bottom: 1px solid #f1f3f4;
  transition: background-color 0.2s ease;
}

.module-table .mat-mdc-row:hover {
  background-color: #f7f8fa;
}

.module-table .mat-mdc-cell {
  border-bottom: none;
  font-size: 14px;
}

.actions-cell {
  display: flex;
  align-items: center;
  gap: 8px;
}

.drag-handle {
  color: #787a7f;
  cursor: move;
}

.edit-icon {
  color: #6c757d;
  cursor: pointer;
  transition: color 0.2s ease;
}

.icon {
  color: #a22a2a;
}

.edit-icon:hover {
  color: #495057;
}

.module-icon {
  color: #1972c0;
  font-size: 20px;
}
.toggle{
  color: #1972c0;
  width: 10px;
  height: 10px;
}
.module-name {
  font-weight: 500;
  color: #212529;
}

.module-description {
  color: #6c757d;
  font-size: 13px;
  margin-top: 2px;
}



