@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

@import 'tailwindcss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Mulish';
}

/* Define your palette */
@theme {
  /* App surfaces & text */
  --color-background: #f7f8fa;
  --color-foreground: #1d1d21;
  --color-border: #e6eaef;
  --color-muted: #f1f3f6;
  --color-muted-foreground: #606060;
  --color-ring: #6d7bfa;

  /* Brand (named shades) */
  --color-primary-blue: #6d7bfa;
  --color-primary-black: #1d1d21;
  --color-secondary-blue: #5363f9;
  --color-primary-tint: #acb4ff;
  --color-primary-surface: #e9ecff;
  --color-primary-wash: #ecf4ff;

  --color-secondary: #6f42c1;
  --color-accent: #fd7e14;
  --color-Gray35:##595959

  /* Links / extra blues */
  --color-link: #1b79e7;
  --color-link-strong: #0000ff;

  /* Status */
  --color-success: #23b93e;
  --color-success-strong: #198754;
  --color-warning: #ffc107;
  --color-danger: #dc3545;
  --color-danger-bright: #ff3333;
  --color-info: #0dcaf0;
  --color-error: #DA1414;

  /* Optional teals */
  --color-teal-base: #79bbd0;
  --color-teal-wash: #cfeef8;

  /* Neutrals */
  --color-gray-ink: #1d1d21;
  --color-gray-dark:#262626;
  --color-backround:#F9FAFB;
  --color-gray-surfaceAlt: #f1f3f6;
  --color-gray-deep: #182330;
  --color-gray-subtle: #7e7a88;
  --color-gray-subtleAlt: #787a7f;
  --color-gray-mutedText: #606060;
  --color-gray-lineStrong: #d9d9d9;
  --color-gray-line: #c6c6c6;
  --color-gray-lineLight: #bfbfbf;
  --color-gray-light: #eaeaea;
  --color-gray-soft-border:#CAC6D3;
  --color-lucky-grey:#787878;
  --color-Gray86:#DBDBDB;



  /* Extra light surfaces */
  --color-surface-base: #f7f8fa;
  --color-surface-raised: #f1f3f6;
  --color-surface-raised2: #f0f2f5;
  --color-surface-soft: #ededed;
  --color-surface-soft2: #f2f2f2;
  --color-surface-soft3: #f3f5f8;
  --color-surface-blue: #ecf4ff;
  --color-light-purple:#DFDDE5;
  --color-pale-blue:#F2F3FF 
}

@layer components {
  .heading-page {
    @apply text-2xl mb-4 font-bold text-primary-black;
  }

  .tab {
    @apply px-4 py-2 rounded-lg text-[16px] font-[Mulish] border transition-colors;
  }

  /* Active state */
  .tab-active {
    @apply cursor-progress text-white font-bold bg-primary-blue border-primary-blue;
  }

  /* Inactive state */
  .tab-inactive {
    @apply cursor-pointer text-gray-subtle font-medium border-surface-soft2 hover:bg-gray-100;
  }

  .form-label {
    @apply block text-sm font-semibold text-gray-dark mb-1;
  }
  .form-lable-required {
    @apply after:content-['*']  after:text-error;
  }

  .form-input {
    @apply w-full py-3 px-3 rounded-md bg-white
     sm:text-sm placeholder:text-gray-subtle placeholder:font-medium placeholder:text-sm focus:outline-none;
  }

  .form-select {
    @apply w-full rounded-md outline-none border-none bg-white py-3 pr-4 
      focus:outline-none sm:text-sm;
  }

  .form-textarea {
    @apply w-full rounded-md resize-none bg-white py-3 px-3
     sm:text-sm;
  }


}


@utility shadow-subtle {
  box-shadow: 0px 6px 2px 0px #00000006;

}
